<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006344582861-s8bvjp727k63ir2k7ea0n784r7opje6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006344582861-s8bvjp727k63ir2k7ea0n784r7opje6s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006344582861-i5jf419dktsmpr1vudrmv83dlqikvqrn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeZE4T2VFjLAeEQnhDxxu2QoDRJhkcxKo</string>
	<key>GCM_SENDER_ID</key>
	<string>1006344582861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent.ios</string>
	<key>PROJECT_ID</key>
	<string>petingdate</string>
	<key>STORAGE_BUCKET</key>
	<string>petingdate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006344582861:ios:71aa5ac7607331c3f75b84</string>
	<key>DATABASE_URL</key>
	<string>https://petingdate.firebaseio.com</string>
</dict>
</plist>